#root {
  display: grid;
  max-width: 1280px;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.postList {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding-left: 0px;
}

.post {
    border: 1px solid;
    border-color: 'DDDDDD';
    border-radius: 4px;
    margin: 20px;
    overflow: hidden;
    padding: 15px;
}

.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.heading>a {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.heading>a:focus {
    outline-color: blue;
    outline-style: solid;
}

.summary {
    font-size: 14px;
    color: #666666;
}

.date {
    font-size: 12px;
    color: #999999
}

.heading>a:hover {
    color: #007BFF;
}

@media (min-width: 769px) {
    .postList {
        grid-template-columns: 1fr 1fr;
        /* max-width: 100%; */
    }
    .heading {
        font-size: 24px;
    }
    .summary {
        font-size: 16px;
    }
    .date {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .postList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}