.formGroup {
    margin: 15px;
}

.formGroup>label {
    display: flex;
    align-self: flex-start;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.formGroup>input {
    min-width: 100%;
    font-size: 14px;
    color: #333333;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
}

.datePicker {
    display: block;
    min-width: 100%;
}


.datePicker input{
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 4px;
    min-width: 100%;
}

.error {
    font-size: 12px;
    color: #ff0000;
}

.popper {
    z-index: 8;
}

button[type='submit'] {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    min-width: 100%;
    margin-top: 15px;
}

@media (min-width: 769px) {
    .formGroup {
        display: flex;
        margin: 20px;
        justify-content: center;
    }

    .formGroup>label {
        font-size: 16px;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .formGroup>input {
        font-size: 16px;
        min-width: auto;
    }

    .error {
        font-size: 14px;
    }

    button[type='submit'] {
        min-width: auto;
        float: right;
    }

    .datePicker {
        min-width: auto;
    }

    .datePicker input {
        min-width: auto;
    }
}