.comment {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightgray;
}

.avatar {
    width: 50px;
    height: 50px;
}

.date {
    font-size: 16px;
    color: gray;
    text-align: left;
    padding: 10px;
    margin: 0px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: 0px;
}

.text {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    margin: 0px;
}

.formGroup {
    padding: 5px
}

.formGroup>input {
    border-color: gray;
}

@media (min-width: 769px) {
    .comment {
        position: relative;
    }

    .name {
        position: absolute;
        top: 0px;
        align-self: center;
    }

    .date {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}