.deleteButton {
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    min-width: 100%;
    min-height: 44px;
}

.deleteButton:focus{
    border-color: #007bff;
    outline: 5px solid transparent;
}

@media (min-width: 769px) {
    .deleteButton {
        min-width: auto;
        min-height: auto;
    }
}