.navBar {
    background-color: #003366;
    display: flex;
    top: 0px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.links {
    display: none;
}

.mobileMenu {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobileMenu.isOpen {
    transform: translateX(-5%);
}

.mobileMenu>* {
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
    color: black;
    display: none;
}

.mobileMenu>*:focus {
    outline-color: blue;
    outline-style: solid;
}

.mobileMenu.isOpen>* {
    display: block;
}

.hamburger:focus {
    outline-color: blue;
    outline-style: solid;
}

.search {
    display: flex;
    align-items: center;
}

.searchButton {
    font-size: 12px;
}

.closeButton {
    font-size: 12px;
    background-color: red !important;
}


button[type='submit'] {
    margin-top: 0px;
    min-width: auto;
}

.isClosed {
    display: none;
}

.isOpen {
    flex-grow: 2;
}

.hidden {
    display: none;
}

.isOpen:focus{
    outline-color: blue;
}

.closeSearch {
    display: flex;
    flex-grow: 2;
}

@media (min-width: 769px) {
    .links {
        display: flex;
        font-size: 18px;
        column-gap: 20px;
    }
    .links>* {
        color: white;
        text-decoration: none;
    }

    .hamburger {
        display: none;
    }

    .isClosed {
        display: block;
    }

    .isClosed:focus {
        outline-color: blue;
    }
}